@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">To my Media Collection &#128512</h1>
    <br/>
    <br/>
    <h1 class="display-4"><a asp-controller="Media" asp-action="Index">List of all Media</a></h1>
</div>
